@charset "UTF-8";

/* Importando folhas de estilo */
@import url("reset.css");
@import url("text.css");
@import url("960_12_col.css");

#header {
	position: relative;
	background: #007FBF;
	height: 40px;
	min-height: 100%;
}

#header a {
	color: #FFF;
	font-weight: bold;
}

.logobox {
	padding-top: 7px;
}

a.logo {
	font-size: 16px;
	text-decoration: none;
}

#menu {
	position: relative;
	background: #333;
	height: 30px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-bottom-left-radius: 7px;
	-moz-border-bottom-right-radius: 7px;
}

#menu ul li {
	font-weight: bold;
	list-style: none;
	color: #FFF;
	float: left;
	padding-top: 5px;
    text-align: left;
    margin-left: 10px;
    margin-right: 15px;
}

#menu ul li a {
	text-decoration: none;
	color: #FFF;
}

#user_bar {
	padding-top: 10px;
	text-align: right;
}

#user_bar span {
	padding-left: 10px;
}

span.username {
	color: yellow;
}

table.tabela {
	width: 100%;
	padding: 5px;
	margin-bottom: 50px;
}

thead {
	border-bottom: solid 2px #666;
	color: #333;
	font-weight: bold;
}

tfoot {
	background: #FFC;
	font-weight: bold;
	font-size: 16px;
}

.total {
	text-align: right;
}

table tr td {
	padding: 10px 5px 10px 5px;
}

.odd {
	background: #F2F2F2;
}

.even {
	background: #FFF;
}

.editar {
	text-decoration: none;
	color: #06C;
	padding-right: 5px;
}

.excluir {
	text-decoration: none;
	color: #C00;
}

.reservar {
	text-decoration: none;
	color: green;
}

.voo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.box {
	background-color: #007FBF;
	padding-top: 20px;
	min-height: 140px;
	color: white;
	text-align: center;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.box2interno {
	padding-left: 20px;
}

.box2 {
	background-color: #007FBF;
	padding-top: 20px;
	min-height: 140px;
	color: white;
	text-align: left;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.acao {
	margin-top: 30px;
	background-color: green;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	min-height: 50px;
	min-width: 100%;
	text-align: center;
}

.botao-formulario {
	font: 18px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	background: green;
	height: 100%;
	color: #FFF;
	padding: 10px;
	font-weight: bold;
	border: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.botao-formulario:hover {
	background: #090;
}

.botao-link {
        margin-top: 20px;
}

a.botao-formulario {
	font: 18px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
	background: green;
	height: 100%;
	color: #FFF;
	padding: 10px;
	font-weight: bold;
	border: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
    text-decoration: none;
}

a.botao-formulario:hover {
	background: #090;
}

table.tipoPassagem {
	margin-left:30px;
}

.vooDisp {
	margin-top: 40px;
}

.cadRes {
	text-align: left;
	color: #FFF;
}

.resCon {
	margin-bottom: 30px;
}

.tituloRes {
	text-align: center;
}

.tituloRes2 {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.cobranca {
	background-color: orange;
}

.boxCadPas {
	padding: 10px;
	margin-bottom: 20px;
}

div.box.boxCadPas h6 {
	margin-bottom: 0px;
}

.bold {
	font-weight: bold;
}

.login {
	margin-top: 80px;
	padding: 20px;
}

#log {
	margin-bottom: -10px;
}

