@charset "UTF-8";

/* Importando folhas de estilo */
@import url("reset.css");
@import url("text.css");
@import url("960_12_col.css");

#header {
	position: relative;
	background: #007FBF;
	height: 40px;
	min-height: 100%;
}

#header a {
	color: #FFF;
	font-weight: bold;
}

.logobox {
	padding-top: 7px;
}

a.logo {
	font-size: 16px;
	text-decoration: none;
}

#menu {
	position: relative;
	background: #333;
	height: 30px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-bottom-left-radius: 7px;
	-moz-border-bottom-right-radius: 7px;
}

#menu ul li {
	font-weight: bold;
	list-style: none;
	color: #FFF;
	float: left;
	padding-top: 5px;
    text-align: left;
    margin-left: 10px;
    margin-right: 15px;
}

#menu ul li a {
	text-decoration: none;
	color: #FFF;
}

#user_bar {
	padding-top: 10px;
	text-align: right;
}

#user_bar span {
	padding-left: 10px;
}

span.username {
	color: yellow;
}

table.tabela {
	width: 100%;
	padding: 5px;
	margin-bottom: 50px;
}

thead {
	border-bottom: solid 2px #666;
	color: #333;
	font-weight: bold;
}

tfoot {
	background: #FFC;
	font-weight: bold;
	font-size: 16px;
}

.total {
	text-align: right;
}

table tr td {
	padding: 10px 5px 10px 5px;
}

.odd {
	background: #F2F2F2;
}

.even {
	background: #FFF;
}

.editar {
	text-decoration: none;
	color: #06C;
	padding-right: 5px;
}

.excluir {
	text-decoration: none;
	color: #C00;
}